.download-btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #00BFFF;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
   }
   
   .download-btn:hover {
    background-color: #009acd;
    color: #fff;
   }
   
   .download-btn i {
    margin-right: 8px;
   }